/* Estilização do header */

header {
  /* ocupar 100% da largura da tela */
  width: 100%;
  /* cor de fundo do header */
  background-color: #333;

  /* espaçamento interno do header */
  padding: 10px 40px;

  /* header fixo topo da pagina */
  position: fixed;
  top: 0;
  /*  grante o posicionamento no topo  */
  z-index: 999;
  /*  grante que o header fiquei acima de todos os elementos (camadas)  */
}