<!-- Emmet criação da estrutura -->
<!-- header>.navbar>.logo+.hamburguer+ul.menu>li*4>a -->

<header>
  <div class="navbar">
    <div class="logo"><a href=""><img src="../../../assets/images/logo-r2.png" alt=""></a></div>
    <button class="hamburguer" (click)="isHamburguerActive()" [ngClass]="{rotateHamburguer: active == true}"></button>
    <ul class="menu" [ngClass]="{menuActive: active == true}">
      <li><a href="">Home</a></li>
      <li><a href="">Produtos</a></li>
      <li><a href=""><button class="btn btn-orcamento">Solicitar Orçamento</button></a></li>
    </ul>
  </div>
</header>