<header class="header">
  <div class="header-container">
    <img
      class="logo"
      src="../../../assets/images/logo-r2.png"
      alt=""
      routerLink=""
    />
    <nav class="main-nav">
      <ul class="main-nav-list">
        <li><a class="main-nav-link" routerLink=""> Pagina Principal </a></li>
        <li><a class="main-nav-link" routerLink="produtos"> Produtos </a></li>
        <li><a class="main-nav-link nav-cta"> Solicitar Orçamento</a></li>
      </ul>
    </nav>
  </div>
</header>
