<div class="tipos-de-uso">
  <div class="box-banner-tipos-de-uso">
    <img src="../../../../assets/images/tipos-de-uso.png" alt="">
  </div>
  <div class="tipos-uso">
    <div>
      <ul>
        <li class="tipo-uso"> teste tipo</li>
        <li class="tipo-uso"> teste tipo</li>
        <li class="tipo-uso"> teste tipo</li>
      </ul>
    </div>
    <div>
      <ul>
        <li class="tipo-uso"> teste tipo</li>
        <li class="tipo-uso"> teste tipo</li>
        <li class="tipo-uso"> teste tipo</li>
      </ul>
    </div>
    <div>
      <button>solicitar orçamento</button>
    </div>
  </div>
</div>
  
