<div class="tipos-de-uso">
  <div class="box-banner-tipos-de-uso">
    <img src="../../../../assets/images/tipos-de-uso.png" alt="">
  </div>
  <div>
    <ul class="lista-tipos-de-uso">
      <li class="tipo-uso">Palletização</li>
      <li class="tipo-uso">Proteção de malas para viagem</li>
      <li class="tipo-uso">Stretch para mudanças</li>
    </ul>
  </div>
  <div>
    <ul class="lista-tipos-de-uso">
      <li class="tipo-uso">Proteção de maquininhas de cartão</li>
      <li class="tipo-uso">Proteção de volantes</li>
      <li class="tipo-uso">Embalagem de alimentos</li>
    </ul>
  </div>
  <div class="box-orcamento">
    <button class="btn btn-orcamento">solicitar orçamento</button>
  </div>
</div>