<section class="beneficios">
  <div class="background-beneficios">
    <div class="card-beneficios container">
      <div class="container-image">
        <img src="../../../../assets/images/image.png" alt="" />
      </div>
      <div class="info-beneficios">
        <div class="beneficio">
          <i class="ph-chats-circle icon"></i>
          <p class="descricao">atendimento personalizado</p>
        </div>
        <div class="beneficio">
          <i class="ph-currency-circle-dollar icon"></i>
          <p class="descricao">desconto para pagamento a vista</p>
        </div>
        <div class="beneficio">
          <i class="ph-truck icon"></i>
          <p class="descricao">frete gratis capital/sp</p>
        </div>
      </div>
    </div>
  </div>
</section>
