/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f8f8f8;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 3rem;
  margin-bottom: 6rem;
}

.container {
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.btn {
  background-color: #0093dd;
  color: #fff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  font-size: 1.8rem;
}

.heading {
  font-weight: 500;
  position: relative;
}


.subheading-left,
.subheading-center {
  position: relative;
}

.subheading-left::before {
  content: "";
  background-color: #0093dd;
  width: 0.7rem;
  height: 3.4rem;
  left: -2rem;
  position: absolute;
}

.subheading-center {
  text-align: center;
}

.subheading-center::before {
  content: "";
  background-color: #0093dd;
  width: 13rem;
  height: .7rem;
  left: 50%;
  bottom: -2rem;
  transform: translate(-50%, 50%);
  position: absolute;
}

.float {
  position: fixed;
  width: 6rem;
  height: 6rem;
  bottom: 7rem;
  right: 6rem;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px rgba(153, 153, 153, 0.678);
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}


@media (max-width: 84em) {
  .produto {
    display: flex;
    flex-wrap: wrap;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
