/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f8f8f8;
}

.container {
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.btn {
  background-color: #0093dd;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 3rem;
  font-weight: 500;
  position: relative;
}

.text-heading {
}
