<section class="hero">
  <div class="hero-container">
    <div>
      <h1 class="hero-title">
        A mais de 13 anos a melhor escolha para embalagens e produtos plásticos
      </h1>
      <button class="btn hero-cta">
        Solicitar Orçamento
        <img src="../../assets/images/whatsapp.png" class="wpp-icon" alt="" />
      </button>
    </div>
    <div>
      <app-produto id="1" plusButton="false"></app-produto>
    </div>
  </div>
</section>
<section class="container">
  <div class="subheading-container">
    <h2 class="subheading-left">Conheça nosso produtos</h2>
    <button class="btn btn-all-products" routerLink="produtos">
      Veja todos os produtos
    </button>
  </div>
  <div class="produto">
    <app-produto categoria="principal"></app-produto>
  </div>
  <div class="all-produtcts">
    <a href="" class="all-products-link" routerLink="produtos">
      Veja todos os produtos
    </a>
    <i class="ph-arrow-right"></i>
  </div>
</section>
<section class="container">
  <h2 class="subheading-center">
    Embalando e protegendo sua carga com qualidade
  </h2>
</section>
<app-beneficios></app-beneficios>
<section class="container">
  <h2 class="subheading-left">Fornecemos filme stretch para todos os tipos de uso</h2>
  <app-tipos-de-uso></app-tipos-de-uso>
</section>