<footer class="footer">
  <div class="container footer-grid">
    <figure>
      <img src="../../../assets/images/logo-r2.png" alt="" />
    </figure>
    <p class="footer-cta">Entre com um de nossos especialistas</p>
    <div class="footer-contact">
      <div class="contact-container">
        <i class="ph-map-pin icon"></i>
        <p>Rua Arisugawa, 348 - Jardim Japão 02132-020 - São Paulo / SP</p>
      </div>
      <div class="contact-information">
        <div class="contact-container">
          <i class="ph-envelope-simple icon"></i>
          <p>vendas@r2comercialsp.com.br</p>
        </div>

        <div class="contact-container">
          <i class="ph-phone icon"></i>
          <p>(11) 97078-6952</p>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    Todos os direitos reservados: R2 comercio de plasticos e brindes Ltda. CNPJ
    XX.XXX.XXX.XX
  </div>
</footer>
